
<div id="groupselect" class="form-check">
	<span style="font-size:0.95em"> Select the groups that you want to see spaces for </span><br>
	{% for group, id in dance_groups.items %}
		<input type="checkbox" class="select" id="{{ group }}" name="selectGroups" value="{{ id }}" onchange="setupWeek('group');"><label class="selectgroup" for="{{ group }}">{{ group }}</label>
	{% endfor %}

	<input type="checkbox" class="select" id="non" name="selectGroups" value="0" onchange="setupWeek('group');"><label class="selectgroup" for="non">Non-Group</label>
	

</div>